#Base de dados:
- Fonte: 

https://www.kaggle.com/datasets/vardan95ghazaryan/top-250-football-transfers-from-2000-to-2018?resource=download

In [ ]:
#Importações
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import plotly.express as px

In [ ]:
fut = pd.read_csv('/content/top250-00-19.csv')

# Questões:
- 1: Qual o jogador mais caro meste período?
- 2: Qual o  jogador mais barato neste período?
- 3: Qual o time que mais ganhou dinheiro com venda de jogadores neste período?
- 4: Qual o time que mais gastou dinheiro com compra de jogadores neste período?
- 5: Qual a posição que mais gerou lucro de vendas neste período?
- 6: Qual a idade média dos jogadores?
- 7: Qual a liga que mais lucrou com a venda de jogadores?
- 8: Qual a liga que mais gastou com a compra de jogadores?
- 9: Qual a temporada que mais foi-se gasto com compra de jogadores?
- 10: Qual a temporada que menos foi-se gasto com compra de jogadores?
- 11: Qual maior lucro e maior prejuízo das transferências.

In [ ]:
fut

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000
...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

# Pergunta 1:

In [ ]:
fut[fut['Transfer_fee'] == fut['Transfer_fee'].max()]

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
4211,Neymar,Left Winger,25,FC Barcelona,LaLiga,Paris SG,Ligue 1,2017-2018,100000000.0,222000000

# Pergunta 2:

In [ ]:
fut[fut['Transfer_fee'] == fut['Transfer_fee'].min()]

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
741,Rémo Meyer,Centre-Back,21,Lausanne-Sport,Challenge League,1860 Munich,1.Bundesliga,2002-2003,NaN,825000

# Pergunta 3:

In [ ]:
fut[fut['Transfer_fee'] == fut['Transfer_fee'].min()]

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
741,Rémo Meyer,Centre-Back,21,Lausanne-Sport,Challenge League,1860 Munich,1.Bundesliga,2002-2003,NaN,825000

In [ ]:
times = dict()
aux=0

for i in fut['Team_from'].tolist(): 
  if i not in times:
    times[i] = fut['Transfer_fee'][aux]
    aux=aux+1
  else:
    times[i] = times[i] + fut['Transfer_fee'][aux]
    aux=aux+1

time = max(times, key=times.get)
vendas = max(times.values())
time_min = min(times, key=times.get)
vendas_min = min(times.values())
print("O time com mais vendas é o",time,"com",vendas)
print("O time com menos vendas é o",time_min,"com",vendas_min)

O time com mais vendas é o Monaco com 948170000
O time com menos vendas é o Lausanne-Sport com 825000

# Pergunta 4:

In [ ]:
times = dict()
aux=0
for i in fut['Team_to'].tolist(): 
  if i not in times:
    times[i] = fut['Transfer_fee'][aux]
    aux=aux+1
  else:
    times[i] = times[i] + fut['Transfer_fee'][aux]
    aux=aux+1
    
time = max(times, key=times.get)
vendas = max(times.values())
time_min = min(times, key=times.get)
vendas_min = min(times.values())
print("O time com mais compras é o",time,"com",vendas)
print("O time com menos compras é o",time_min,"com",vendas_min)

O time com mais compras é o Chelsea com 1820650000
O time com menos compras é o Ascoli com 900000

# Pergunta 5:

In [ ]:
times = dict()
aux=0
for i in fut['Position'].tolist(): 
  if i not in times:
    times[i] = fut['Transfer_fee'][aux]
    aux=aux+1
  else:
    times[i] = times[i] + fut['Transfer_fee'][aux]
    aux=aux+1
    
time = max(times, key=times.get)
vendas = max(times.values())
time_min = min(times, key=times.get)
vendas_min = min(times.values())
print("A posição com maior valor de venda acumulada é a de",time,"com",vendas)
print("A posição com menor valor de venda acumulada é a de",time_min,"com",vendas_min)

A posição com maior valor de venda acumulada é a de Centre-Forward com 11680950000
A posição com menor valor de venda acumulada é a de Midfielder com 1130000

# Pergunta 6:

In [ ]:
fut['Age'].mean()

24.33872340425532

# Pergunta 7:

In [ ]:
times = dict()
aux=0
for i in fut['League_from'].tolist(): 
  if i not in times:
    times[i] = fut['Transfer_fee'][aux]
    aux=aux+1
  else:
    times[i] = times[i] + fut['Transfer_fee'][aux]
    aux=aux+1
    
liga = max(times, key=times.get)
vendas = max(times.values())
liga_min = min(times, key=times.get)
vendas_min = min(times.values())
print("A liga com maior valor de venda acumulada é a de",liga,"com",vendas)
print("A posição com menor valor de venda acumulada é a de",liga_min,"com",vendas_min)

A liga com maior valor de venda acumulada é a de Premier League com 7248510000
A posição com menor valor de venda acumulada é a de Challenge League com 825000

# Pergunta 8:

In [ ]:
times = dict()
aux=0
for i in fut['League_to'].tolist(): 
  if i not in times:
    times[i] = fut['Transfer_fee'][aux]
    aux=aux+1
  else:
    times[i] = times[i] + fut['Transfer_fee'][aux]
    aux=aux+1
    
time = max(times, key=times.get)
vendas = max(times.values())
time_min = min(times, key=times.get)
vendas_min = min(times.values())
print("A liga com maior valor de compra acumulada é a de",time,"com",vendas)
print("A liga com menor valor de compra acumulada é a de",time_min,"com",vendas_min)

A liga com maior valor de compra acumulada é a de Premier League com 14695400000
A liga com menor valor de compra acumulada é a de  Libya com 1000000

# Pergunta 9/10:

In [ ]:
times = dict()
aux=0
for i in fut['Season'].tolist():
  if i not in times:
    times[i] = fut['Transfer_fee'][aux]
    aux=aux+1
  else:
    times[i] = times[i] + fut['Transfer_fee'][aux]
    aux=aux+1

time = max(times, key=times.get)
vendas = max(times.values())
time_min = min(times, key=times.get)
vendas_min = min(times.values())
print("A temporada com maior valor de compra acumulada é a de",time,"com",vendas)
print("A temporada com menor valor de compra acumulada é a de",time_min,"com",vendas_min)

A temporada com maior valor de compra acumulada é a de 2017-2018 com 4748180000
A temporada com menor valor de compra acumulada é a de 2003-2004 com 1108510000

In [ ]:
for i in range(len(fut['Market_value'].to_list())):
  if(pd.isnull(fut["Market_value"])[i]):
     fut['Market_value'][i]= 0

<ipython-input-15-849ecd2fa936>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fut['Market_value'][i]= 0

In [ ]:
fut['Profit/Prejudice'] = fut['Transfer_fee']-(fut['Market_value'])

In [ ]:
fut

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee,Profit/Prejudice
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,0.0,60000000,60000000.0
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,0.0,56810000,56810000.0
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,0.0,40000000,40000000.0
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,0.0,36150000,36150000.0
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,0.0,34500000,34500000.0
...,...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000,-200000.0
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000,1800000.0
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000,-4000000.0
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000,0.0
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000,1000000.0

# Pergunta 11: